<%- include('header') -%>
  <div class="box">
       <h1 class="head"><%= days %></h1>
      <div class="listBox">
        <% for(i=0;i<newItem.length;i++){ %>

        <ul class="ul">

            <input type="checkbox" name="" id="">
              <p class="list">
                <%= newItem[i] %>
              </p><br>
        </ul>
        <% } %>

      </div>
        <form action="/" method="post" class="form" >
        <input type="text" name="text" id="" placeholder="Next item" autocomplete="off">
         <button type="submit" class="submit" name="button" value = <%= days %> >+</button>
      </form> 
  </div>
  <%- include('footer') -%>



